/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5CCBF;
}

/* Navigation Bar */
header {
    background-color: #E5CCBF;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: seashell;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
}

.logo-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: brown;
}

.logo {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 30px;
    color: brown;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ff5733;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: seashell;
    margin-top: 20px;
}